@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
$colour-primary-light: #f6f8fc;
$colour-secondary-light: #A1CEFF;
$colour-tertiary-light: #252525;

$colour-primary-dark: #000852;
$colour-secondary-dark: #A1CEFF;
$colour-tertiary-dark: #E6E7F2;

$font-body: 'Open Sans',Tahoma,Verdana,Segoe,sans-serif; 